<div class="header"> <%= link_to "Sign Up", new_user_registration_path  %></div>
<%binding.pry%>
<%= render "devise/shared/error_messages", resource: resource %>
<%= render "users/shared/sign_in_page" %>

